API_SPORTS_KEY=

# RabbitMq Configuration values

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=/

# Notification Database Configuration values

NOTIFICATION_DB_NAME=fantasy_league_notifications
NOTIFICATION_DB_USER=postgres
NOTIFICATION_DB_PASSWORD=postgres

# MailKit SMTP Configuration values

MAILKIT_HOST=smtp.gmail.com
MAILKIT_PORT=587
MAILKIT_SENDER_EMAIL=
MAILKIT_SENDER_NAME=Fantasy League
MAILKIT_USERNAME=
MAILKIT_PASSWORD=
MAILKIT_USE_SSL=false
MAILKIT_TIMEOUT_MILLISECONDS=30000
